canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.zoom-display {
    display: none;
    margin-left: 10px;
    color: #007700;
}